@page "{id:int}"
@model Bookstore.Web.Pages.BookModel

@{
}
<div class="row">
	<div class="col-md-3">
		@if (Model.Book.CoverImage != null)
		{
			<img src="@($"data:image/png;base64,{Convert.ToBase64String(Model.Book.CoverImage)}")" width="100%" />
		}
		else
		{
			<img src="/Images/elementor-placeholder-image.webp" width="100%" />
		}
	</div>
	<div class="col-md-9">
 <h2>@Model.Book.Title</h2>
 <p>@Model.Book.Description</p>
 <p>Price: @Model.Book.Price</p>
 <form method="post">
 <input type="hidden" name="bookId" value="@Model.Book.Id" />
 <button class="btn btn-primary">Add to cart</button>
 </form>
 </div>
</div>
<table class="table">
	<tbody>
		<tr>
			<td>Издател</td>
			<td>@Model.Book.Publisher</td>
		</tr>
		<tr>
			<td>ISBN</td>
			<td>@Model.Book.ISBN</td>
		</tr>
		<tr>
			<td>Година</td>
			<td>@Model.Book.PublishingYear</td>
		</tr>
		<tr>
			<td>Език</td>
			<td>@Model.Book.Language.Name</td>
		</tr>
		<tr>
			<td>Автори</td>
			<td>
				<ul>
					@foreach (var author in Model.Book.Authors)
					{
						<li>@author.FullName</li>
					}
				</ul>
			</td>
		</tr>
		<tr>
			<td>Жанрове</td>
			<td>
				<ul>
					@foreach (var genre in Model.Book.Genres)
					{
						<li>@genre.Name</li>
					}
				</ul>
			</td>
		</tr>
	</tbody>
</table>
<div class="row">
	<div class="col-9">
		<h3>Details from OpenLibrary:</h3>
		<ul>
			<li>
				<strong>
					Publishing date:
				</strong>@Model.OpenLibraryDetails.PublishDate
			</li>
			<li>
				<strong>Publishing place: </strong>@string.Join(", ",
				Model.OpenLibraryDetails.PublishPlaces.Select(x => x.Name))
			</li>
			<li>
				<strong>
					Number of pages:
				</strong>@Model.OpenLibraryDetails.NumberOfPages
			</li>
		</ul>
	</div>
	<div class="col-3">
		Cover from OpenLibrary:
		<img src="@Model.OpenLibraryDetails.Cover.Medium" alt="Book cover"
			 width="100%" />
	</div>
</div>
<div class="row">
	<div class="col-9">
		<h3>Детайли от Google Books:</h3>
		<ul>
			<li>
				<strong>
					Издател:
				</strong>@Model.GoogleDetails.VolumeInfo.Publisher
			</li>
			<li>
				<strong>
					Описание:
				</strong>@Model.GoogleDetails.VolumeInfo.Description
			</li>
			<li>
				<a href="@Model.GoogleDetails.VolumeInfo.PreviewLink.ToString()"
				   target="_blank">Прегледайте книгата в Google Books</a>
			</li>
		</ul>
	</div>
</div>
